{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    {% block content %}
        <h2 class="title-sondage">Sondage du Moment : Qu'elle est la meilleure série de tous les temps?</h2>
        <div class="sondage">
            <img class="img-home-page" src="{{ asset('build/GOT.jpg') }}" alt=""/>
            <img class="img-home-page" src="{{ asset('build/P-B.jpeg') }}" alt=""/>
            <img class="img-home-page" src="{{ asset('build/Gomorra.jpg') }}" alt=""/>
            <img class="img-home-page" src="{{ asset('build/BreakingBad.jpeg') }}" alt=""/>
        </div>
        {% endblock %}
{% endblock %}